<!-- 引数を定義 -->
{{ $prefix := .prefix }}
{{ $method := .method }}
{{ $width := .width }}
{{ $height := .height }}
{{ $anchor := .anchor }}

<!-- 引数に基づいて$sizeを設定する -->
{{ $size := "" }}
{{ if and (ne $width "") (eq $height "") }}
  {{ $size = printf "%dx webp q50" $width }}
{{ end }}
{{ if and (eq $width "") (ne $height "") }}
  {{ $size = printf "%dx webp q50" $height }}
{{ end }}
{{ if and (ne $width "") (ne $height "") }}
  {{ $size = printf "%dx%d webp q50" $width $height }}
{{ end }}
{{ if (ne $anchor "") }}
  {{ $size = printf "%s %s" $size $anchor }}
{{ end }}

<!-- 検索対象ディレクトリを取得 -->
{{ $paths := split .Page.File "/" }}
{{ $dir := delimit (first (sub (len $paths) 1) $paths) "/" }}
{{ $dir := printf "content/%s" $dir}}

<!-- リサイズ実行後の画像オブジェクトを設定する変数 -->
{{ $resized := 0 }}

<!-- 検索対象ディレクトリ内のファイルをループする -->
{{ $files := readDir $dir }}
{{ range $files }}
  <!-- 引数$prefixと先頭文字が一致するファイルの場合処理する -->
  {{ if hasPrefix .Name $prefix }}
    {{ $img := $.Page.Resources.Get .Name }}
    <!-- 引数$methodで指定された値に応じて画像処理メソッドを実行する -->
    {{ if eq $method "resize" }}
      {{ $resized = $img.Resize $size }}
    {{ end }}
    {{ if eq $method "crop" }}
      {{ $resized = $img.Crop $size }}
    {{ end }}
    {{ if eq $method "fill" }}
      {{ $resized = $img.Fill $size }}
    {{ end }}
    {{ if eq $method "fit" }}
      {{ $resized = $img.Fit $size }}
    {{ end }}
    <img src="{{ $resized.RelPermalink }}" width="{{ $resized.Width }}" height="{{ $resized.Height }}">
  {{ end }}
{{ end }}
